#outputs .card{
    align-items: center;
    margin-top: 10px;
}
.txt-center{
    text-align: center;
}
.help-btn{
    border-radius: 45%;
    font-size: x-small;
}

.container{
    margin-bottom: 20px;
}

.without-border{
    border-style: hidden ;
    
}