#outputs .card{
    align-items: center;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

#inputs .collapse{
    margin-top: 10px;
}


.help-btn{
    border-radius: 45%;
    font-size: x-small;
}

.container{
    margin-bottom: 25px;
}

.without-border{
    border-style: hidden ;
    
}



