#outputs .card{
    align-items: center;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
body{
    background-color: #f9fbff;
}
#inputs .collapse{
    margin-top: 10px;
}


.help-btn{
    border-radius: 45%;
    font-size: x-small;
}

.container{
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 25px; */
}

.without-border{
    border-style: hidden ;
    
}
#cron{
    width: 100%;
    
}
#cron_pago{
    
    overflow: auto;
}





